@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body, html{
    width: 100vw;
    height: 100vh;
}

body{
    background: url(imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main{
    position: relative;
    height: 100vh;
}

#phone{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
iframe{
    height: 470px;
    width: 200px;
}
